<%if current_user.avatar?%>
    <%=image_tag current_user.avatar.small_thumb.url%>
<%end%>
<%=current_user.first_name%><br>
<%=@comment.comment%><br>
<%if current_user%>
    <a href="/comments/<%=@comment.id%>/destroy">Delete</a>
<%end%>
