<%=link_to "New Board", boards_new_path, id:"new_board_link", remote: true%>
<br>

<div id="user-boards">
    <%@board.each do |x|%>
        <a href="/boards/<%=x.id%>"><%=x.title%></a>
    <%end%>
</div>