
<%if current_user.followers.present?%>
    <%current_user.followers.each do |x|%>
        <a href="/users/<%=x.id%>"><%=x.first_name%></a>
        <% if x.avatar.url.present?%>
            <%=image_tag x.avatar_url(:thumb)%>
        <% else %>
            <img src="https://s3.amazonaws.com/pinpinpinbucket/default_avatar.png">
        <%end%>
    <%end%>
<%else%>
    <p>You have no followers</p>
<%end%>