<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<p>0 followers | 0 following</p>
<p><%=@user.description%></p>

<%if @user.avatar?%>
    <%=image_tag @user.avatar.thumb.url%>
<%end%>

<br>
------------
<br>
buttons for -- boards | pins | topics