<div style="text-align: center;">
    <%@tag.each do |x|%>
        <a class="btn btn-primary" href="/explore/<%=x.name%>" role="button"><%=x.name%></a>
    <%end%>
</div>


<br><br>
<%if@tagging.present?%>
    <div class="container">
        <div class="card-columns">
            <%@tagging.each do |x|%>
                <%@pin.where(id: x.pin_id).each do |y|%>
                    <div class="card">
                        <a href="/pins/<%=y.id%>"><%= image_tag(y.image_url(:display), :class => "card-img") %></a>
                    </div>
                <%end%>
            <%end%>
        </div>
    </div>
<%else%>
        <h3 style="text-align: center;">Latest Tags!</h3>
<%end%>