
<%@pin.each do |x|%>
    <a href="/pins/<%=x.id%>"><%=image_tag x.image_url(:display)%></a>
<%end%>

<script>
$( function() {
  var availableTags = [
    "<%@tag.each do |x|%>",
    "<%=x.name%>",
    "<%end%>",
  ];
  $( "#alltags" ).autocomplete({
    source: availableTags
  });
} );
</script>