<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/2000px-Pok%C3%A9_Ball_icon.svg.png" width="50" height="50" alt="">
        </a>
        <%=form_tag(tags_path, :method => 'get', id: "search-form", class:"form-inline") do%>
            <input id="alltags"<%=text_field_tag :search, params[:search], placeholder: "Search Tags", class:"form-control mr-sm-2"%>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <%end%>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if current_user %>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
                <%if current_user.avatar?%>
                    <li class="nav-item">
                        <a class="d-inline-block align-top" href="#"><%=image_tag current_user.avatar_url(:small_thumb)%></a>
                    </li>
                <%end%>
                <%if current_user.first_name?%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/show"><%=current_user.first_name%></a>
                    </li>
                <%else%>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/show">Profile</a>
                    </li>
                <%end%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            <% else %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/google_oauth2?prompt=select_account">Sign in with Google</a>
                </li>
            <% end %>
        </ul>
    </div>
</nav>

